<p> This is page2 </p>
<span class="test" id="test" style="">Test</span>
	<script>
		document.getElementById('test').onclick = function()
				{
					scrollToPage('#content', 'page3.html');
				}
	</script>