.center
{
	text-align: center;
}

body
{
	background-color: rgb(245,245,245);
	overflow-x: hidden;
	font-family: sans-serif;
}

.pageOne
{
	
}

.pageTwo
{
	background-color: rgb(00, 200, 100);
}

.pageThree
{
	background-color: rgb(200, 100, 200);
	color: white;
}

.buttonRight
{
	position: fixed;
	right:1%;
	top: 50%;
	cursor: pointer;
	font-size: 30pt;
	font-family: 'Arial Narrow',sans-serif;
	color: black;
}

.buttonLeft
{
	position: fixed;
	left:1%;
	top: 50%;
	cursor: pointer;
	font-size: 30pt;
	font-family: 'Arial Narrow',sans-serif;
	color: black;
}

.pageContent
{
	margin-left: 1%;
	text-indent: 20pt;
	word-wrap: break-word;
}
